@model LearningCenterWebApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                       FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your information to register.</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserEmail, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserEmail)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmUserPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmUserPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmUserPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}