@using LearningCenterWebApp.Models

@if (Session["User"] != null)
{
    var user = (User)Session["User"];

    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + user.UserEmail + "!", "Index", "Home", routeValues: null,
                                htmlAttributes: new { title = "Home" })
            </li>
            <li>
                @Html.ActionLink("My Classes", "StudentClasses", "Home", routeValues: null,
                                htmlAttributes: new { title = "StudentClasses" })
            </li>
            <li>
                @Html.ActionLink("Enroll in class", "EnrollInClass", "Home", routeValues: null,
                                htmlAttributes: new { title = "EnrollInClass" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Home", routeValues: null,
                                        htmlAttributes: new { id = "registerLink" })
    </li>
    <li>
        @Html.ActionLink("Log in", "LogIn", "Home", new { ReturnUrl = Request.RawUrl }, null)
</li>
</ul>
}
